.container {
  width: 100%;
  display: flex;
  height: auto;
  min-height: calc(100vh - 64px);
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 786px) {
    margin: 0;
  }
}
