$fontFamily: 'Montserrat Alternates';
$mainFontColor: #334366;
$white: #fff;
$linkColor: #2C6CB0;

$lightWeight: 400;
$boldWeight: 700;

$boxShadow: 0px 7px 20px 0px rgba(58, 109, 139, 0.30);
$borderRadius: 7px;
$buttonColorBlue: #2C6CB0;