.formGroup {
  position: relative;

  &Input {
    display: none;

    &:checked + label {
      color: #2C6CB0;

      &::before {
        content: "";
        display: block;
        border: 1px solid #2C6CB0;
        background-color: #2C6CB0;
      }
    }
  }
  &Label {
    display: flex;
    align-items: center;
    width: 90%;
    font-size: 0.8rem;
    line-height: 1;
    padding: 0.5rem 0;
    margin-left: 2rem;
    @media screen and (min-width: 768px) {
      line-height: 1.2;
      font-size: 1rem;
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      display: block;
      border-radius: 50%;
      border: 1px solid #b5b5b5;
      background: #fff;
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
    }
  }
}
