@import "../../../assets/scss/_variables.scss";
.widget {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    @include themify($themes) {
        background: themed('buttonBg');
    }

    &-text {
        margin-left: 0.5rem;
        font-size: 1.2rem;
        font-weight: 500;
        @include themify($themes) {
            color: themed('buttonColor');
          }
    }

    &:hover {
        @include themify($themes) {
            background: themed('buttonBgHover');
        }
    }
}

.widget-container {
    position: absolute;
    bottom: 2%;
    right: 2%;
}