@import "../../assets/scss/variables.scss";

.header{
  &Link {
    text-decoration: none;
    font-weight: 400;
    &:hover {
      @include themify($themes) {
        color: themed('textLinkHeaderHover');
      }
    }
  }
}
.headerWrap {
  padding: 0;
}
