.header{
  &Link {
    display: flex;
    align-items: center;
    color: #2C6CB0;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    &:hover {
      color: #294462;
    }
    &Text {
      margin-left: 1rem;
    }
  }
}
.headerWrap {
  padding: 0;
}
