@import "./assets/scss/_variables.scss";

body {
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  
}

.layout  {
  @include themify($themes) {
    background: themed('colorBackground');
    color: themed('colorText');
  }
}
#root {
  height: auto;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
pre {
  font-size: 0.85rem;
}
a {
  text-decoration: none;
  color: inherit;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('assets/fonts/MontserratAlternates-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('assets/fonts/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('assets/fonts/MontserratAlternates-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('assets/fonts/MontserratAlternates-Bold.ttf') format('truetype');
  font-weight: 700;
}
.container {
  display: flex;
}
.MuiAppBar-root {
  @include themify($themes) {
    background: themed('colorBackground');
    color: themed('colorText');
  }
}
.MuiIconButton-root:hover,
.MuiButton-root:hover {
    @include themify($themes) {
      background-color: themed('bgHeaderButtonHover');
  }
}
.MuiBox-root {
  height: 100%;
}
h1 {
  font-size: 46px;
  @media (max-width: 575.98px) {
    font-size: calc(46px / 2);
  }
}
h2 {
  font-size: 30px;
  @media (max-width: 575.98px) {
    font-size: 25px;
  }
}
h3 {
  font-size:20px;
  @media (max-width: 575.98px) {
    font-size: 18px;
  }
}
.card-heading {
  text-align: center;
  margin-top: 4rem;
}
$easy: cubic-bezier(0.39, 0.575, 0.565, 1);

.route-animation-enter {
  opacity: 0;
  transform: translate3d(0, 100%, 0)
}
.route-animation-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 500ms $easy, transform 500ms $easy;
}
.route-animation-exit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.route-animation-exit-active {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  transition: opacity 500ms $easy, transform 500ms $easy;
}